BODY{

    background-image: url('anime.png');
    background: linear-gradient(90deg,  rgba(53,55,65,1) 0%, rgb(28, 29, 36) 42%, rgba(0,0,0,1) 100%);
}
.box{
    padding: 4vw;
    display: flex;
    gap: 3vw;
    color: white;
}

img{
    height: 15vw;
    width: 25vw;
    object-fit: cover;
    border-radius: 2vw;
}
h1{
    font-size: 3vw;
}
p{
    font-size: 1.5vw;
}